<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Spider_QAMS</title>
    <partial name="_Styles" />
</head>

@if (ViewData["Title"] == "" || ViewData["Title"] == "Login" || ViewData["Title"] == "Logout" || ViewData["Title"] == "Error")
{
    <body class="off-canvas-sidebar">
        @RenderBody()

        <!-- REQUIRED SCRIPTS -->
        <partial name="_Scripts" />
        @await Html.PartialAsync("_GetToken")

        <!-- Right Side UI Configurator Container -->
        <partial name="_UIConfigurator" />

        @await RenderSectionAsync("Scripts", required: false)
        @await Html.PartialAsync("_Notification")
    </body>
}
else
{
    <body>
        @await Html.PartialAsync("_GetToken")
        <div class="wrapper">
            <!-- Left Sidebar Container -->
            <partial name="_SideNavigation" />

            <div class="main-panel">

                <!-- Top Row Container -->
                <partial name="_TopNavigation" />

                <!-- Middle Body Container -->
                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
                <!-- Main Footer -->
                <partial name="_Footer" />
            </div>
        </div>

        <!-- Right Side UI Configurator Container -->
        <partial name="_UIConfigurator" />

        <!-- REQUIRED SCRIPTS -->
        <partial name="_Scripts" />

        <!-- Side Left Panel Features -->
        <script src="~/js/side-left-panel.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
        @await Html.PartialAsync("_Notification")
    </body>
}
</html>