@page
@model Spider_QAMS.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    TempData["NavigationalPageName"] = "Access Denied";
}

<div class="alert alert-danger" role="alert">
    <h4>You are not authorized to access this page.</h4>
    <p>Please continue or return to the <a href="/Dashboard" class="alert-link"><u>Dashboard</u></a>.</p>
</div>