@page
@model Spider_QAMS.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger" role="alert">
    <h4>You are either logged out or not authorized to access this page.</h4>
    <p>Please <a href="/Account/Login">login</a> to continue or return to the <a href="/Dashboard">Dashboard</a>.</p>
</div>