@page
@model Spider_QAMS.Pages.Account.EditSettingsModel
@{
    ViewData["Title"] = "Edit Settings";
    TempData["NavigationalPageName"] = "Edit Settings";
}
<div class="row d-flex justify-content-center align-content-center align-items-center">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="SettingsData.SettingUserId" readonly />
            <div class="card card-profile">
                <div class="card-avatar position-relative d-inline-block">
                    <a href="#pablo">
                        <img id="profilePicturePreview" src="@Model.UserProfilePathUrl" class="img" alt="Profile Picture" />
                    </a>
                </div>

                <div class="card-body">
                    <h4 class="card-title">@Model.SettingsData.SettingFullName</h4>
                    <p class="card-description">
                        @Model.SettingsData.SettingEmailID (@Model.SettingsData.SettingUserName)
                    </p>

                    <!-- Validation Summary -->
                    <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.SettingUserName"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="SettingsData.SettingUserName" placeholder="Username here...">
                            </div>
                            <span asp-validation-for="SettingsData.SettingUserName" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.SettingFullName"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="SettingsData.SettingFullName" placeholder="Full Name here...">
                            </div>
                            <span asp-validation-for="SettingsData.SettingFullName" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.SettingEmailID"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="SettingsData.SettingEmailID" placeholder="Email here...">
                            </div>
                            <span asp-validation-for="SettingsData.SettingEmailID" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.Password"></label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="password" class="form-control" asp-for="SettingsData.Password" placeholder="Password here...">
                            </div>
                            <span asp-validation-for="SettingsData.Password" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label" asp-for="SettingsData.ReTypePassword">Confirm Password</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input type="password" class="form-control" asp-for="SettingsData.ReTypePassword" placeholder="Confirm Password here...">
                            </div>
                            <span asp-validation-for="SettingsData.Password" class="text-danger fw-bold"></span>
                        </div>
                    </div>

                    <div class="row-cols-auto">
                        <button type="submit" class="btn btn-success pull-center"><i class="material-icons">drive_file_rename_outline</i> Update Settings</button>
                        <a type="button" class="btn btn-info pull-center" asp-page="/Dashboard"><i class="material-icons">assignment_return</i> Back to Dashboard</a>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
           
        });

    </script>
}
