@page
@model Spider_QAMS.Pages.Account.UserVerificationSetupModel
@{
    ViewData["Title"] = "User Verification Setup";
    TempData["NavigationalPageName"] = "Create User";
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form method="post" enctype="multipart/form-data" id="userVerificationForm">
        <div id="userVerificationSection" class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:45rem;">
            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around; height:auto; flex-direction:column;">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem; font-weight:500">User Verification</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold" style="font-size:1.2rem">User Details</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger fw-bold"></div>

                        <!-- Profile Picture Field -->
                        <div class="text-center">
                            <div class="position-relative d-inline-block mx-auto mb-4">
                                @if (Model.UserProfilePathUrl != null)
                                {
                                    <img src="@Url.Content(Model.UserProfilePathUrl)" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px;" id="loadedProfilePicture">
                                    <div class="position-absolute bottom-0 end-0 rounded-circle bg-light p-1" style="transform: translate(20%, 20%);">
                                        <input class="d-none" asp-for="UserVerficationData.PhotoFile" type="file" id="profile-img-file-input" />
                                        <label for="profile-img-file-input" class="rounded-circle bg-gradient-blue p-2" style="cursor: pointer; width: 40px; height: 40px;">
                                            <i class="ion ion-android-camera" style="font-size: 1.5rem;"></i>
                                        </label>
                                    </div>
                                }
                            </div>
                            <br />
                            <span asp-validation-for="UserVerficationData.PhotoFile" class="text-danger fw-bold"></span>
                        </div>

                        <!-- User ID and ID Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1;">
                                <label asp-for="UserVerficationData.Designation" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                    </div>
                                    <input type="text" asp-for="UserVerficationData.Designation" class="form-control" />
                                </div>
                                <span asp-validation-for="UserVerficationData.Designation" class="text-danger fw-bold"></span>
                            </div>
                        </div>

                        <!-- Full Name Field -->
                        <div class="mb-3">
                            <label asp-for="UserVerficationData.FullName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text" asp-for="UserVerficationData.FullName" class="form-control" />
                            </div>
                            <span asp-validation-for="UserVerficationData.FullName" class="text-danger fw-bold"></span>
                        </div>
                        <!-- Email Field-->
                        <div class="mb-3">
                            <label asp-for="UserVerficationData.Email" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" asp-for="UserVerficationData.Email" class="form-control" readonly />
                            </div>
                            <span asp-validation-for="UserVerficationData.Email" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Username and Mobile Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="UserVerficationData.Username" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
                                    </div>
                                    <input type="text" asp-for="UserVerficationData.Username" class="form-control" />
                                </div>
                                <span asp-validation-for="UserVerficationData.Username" class="text-danger fw-bold"></span>
                            </div>
                            <div style="flex: 1;">
                                <label asp-for="UserVerficationData.MobileNo" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="tel" asp-for="UserVerficationData.MobileNo" class="form-control" />
                                </div>
                                <span asp-validation-for="UserVerficationData.MobileNo" class="text-danger fw-bold"></span>
                            </div>
                        </div>

                        <!-- Buttons for form submission -->
                        <div style="display: flex; justify-content:space-around;height:auto;">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-3 me-4">
                                    <button type="submit" class="btn create-btn" style="width:140px;">Save</button>
                                </div>
                                <div class="col-4 ms-3">
                                    <a asp-page="/Dashboard" class="btn btn-secondary" style="width:180px;"> Back to Dashboard</a>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#profile-img-file-input').change(function () {
                // Get the selected file
                var file = this.files[0];
                if (file) {
                    // Create a file reader object
                    var reader = new FileReader();

                    // Set up the FileReader Onload event
                    reader.onload = function (e) {
                        // Set the SRC attribute of the image element to the data URL of the selected file
                        $('#loadedProfilePicture').attr('src', e.target.result);
                    };

                    // Read the selected file as a data URL
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
}
