USE [Spider_QAMS]
GO
/****** Object:  StoredProcedure [dbo].[uspUpsertSitePictures]    Script Date: 29-05-2024 16:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Your Name
-- Create date: YYYY-MM-DD
-- Description: Insert or update site pictures based on existence
-- =============================================
ALTER PROCEDURE [dbo].[uspUpsertSitePictures]
-- Parameters for SiteDetails table
    @SiteID BIGINT,
    @PicCatID INT = NULL,
	@SitePicID INT = NULL,
    @Description VARCHAR(MAX) = NULL,
    @PicPath VARCHAR(MAX),
	@NewSitePicID INT OUTPUT 

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		-- Start the transaction
		BEGIN TRANSACTION;

		-- Check if the picture already exists using SitePicID
		IF EXISTS(
			SELECT 1 FROM SitePictures sp WHERE SitePicID = @SitePicID AND SiteID = @SiteID
		)

		BEGIN
			-- Update the existing picture entry
			UPDATE SitePictures
			SET [Description] = @Description
			WHERE SitePicID = @SitePicID AND SiteID = @SiteID;

			-- Return the existing SitePicID as output
			SET @NewSitePicID = @SitePicID;
		END
		ELSE
		BEGIN
			-- Insert a new picture entry if not found
            INSERT INTO [dbo].[SitePictures] (SiteID, PicCatID, [Description], PicPath)
            VALUES (@SiteID, @PicCatID, @Description, @PicPath);

			-- Get the newly inserted SitePicID
            SET @NewSitePicID = SCOPE_IDENTITY();
		END

        -- Commit the transaction
        COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		-- Rollback the transaction in case of an error
		IF @@trancount > 0
			ROLLBACK TRANSACTION;

		-- Return the error details
		SELECT
			ERROR_NUMBER() AS ErrorNumber
		   ,ERROR_MESSAGE() AS ErrorMessage
		   ,ERROR_SEVERITY() AS ErrorSeverity
		   ,ERROR_STATE() AS ErrorState
		   ,ERROR_LINE() AS ErrorLine
		   ,ERROR_PROCEDURE() AS ErrorProcedure;
	END CATCH;
END
