html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/* Prevent text wrapping and keep content on a single line */
button, a.btn {
    white-space: nowrap;
    text-align: center;
}

.badge.filter.custom-color {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f6f6f6; /* Default background for custom color badge */
    cursor: pointer;
}

/* Ensures the uploaded image fits the container */
.img-holder.custom-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

/* Styling the upload icon */
.upload-icon {
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Icon interaction effects */
    .upload-icon:hover {
        background: rgba(240, 240, 240, 0.9);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

/* Active Class for the uploaded image section */
.upload-section.active {
    border-color: #007bff; /* Active border color for the uploaded image section */
    box-shadow: 0px 1px 5px rgba(0, 123, 255, 0.5); /* Active box-shadow for better visibility */
}

.jsgrid-grid-body tr:nth-child(even) {
    background-color: #C3C4C7; /* Alternate row colors */
}

.jsgrid-header-cell {
    font-weight: bold;
    background-color: #5E6873 !important;
    color: white !important;
    text-align: center;
}

img.img-thumbnail {
    width: 150px;
    height: 100px;
}

.gallery-item {
    position: relative;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.logo .img-circle {
    border-radius: 50%; /* Makes the image circular */
    width: 25px; /* Adjust based on your required size */
    height: 25px; /* Ensure height matches width for a perfect circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    border: 2px solid #fff; /* Optional: Add a border for a cleaner look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
}