@page
@model Spider_QAMS.Pages.AppointmentCalenderModel
@{
    ViewData["Title"] = "Appointment Calender";
    // TempData["NavigationalPageName"] = "Create User";
}

<div id="calendar"></div>

<partial name="_AddEditAppointment" />