@page
@model Spider_QAMS.Pages.ManageSiteDetailsModel
@{
    ViewData["Title"] = "Manage Site Details";
    TempData["NavigationalPageName"] = "Manage Sites";
}

<div style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <!-- Title and Action Buttons -->
    <div class="row pt-1 mb-3" style="width:100%;">
        <div class="col text-start">
            <h4 class="rb-header">Manage Sites</h4>
        </div>
        <div class="col text-end">
            <a asp-page="/CreateSiteDetails" class="btn create-btn" style="background: linear-gradient(to bottom, #ffffff, #e0e0e0); color: #71797E;">
                <i class="fas fa-plus-circle"></i>
                &nbsp;Create New Site
            </a>
        </div>
    </div>

    <div id="jsGrid"></div>

    <!-- Delete Site Form (Hidden Initially) -->
    <div id="deleteFormDiv" style="display:none; flex-direction: column; align-items: center; min-height: 20vh;">
        <form method="post" asp-page-handler="Delete">
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="./plugins/jsgrid/jsgrid.min.js"></script>
    <script>
        var sitesJson = null;
        @if (Model.Sites != null && Model.Sites.Count > 0)
        {
            <text>
                sitesJson = @Html.Raw(Json.Serialize(Model.Sites));
            </text>
        }
    </script>
    <script src="~/js/manage-site-details.js" asp-append-version="true"></script>
}